<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <form method="post" action="/add" hx-post="/add" hx-target="this" hx-swap="outerHTML">
        <input type="text" name="content" autofocus placeholder="Ajouter une nouvelle tâche">
        <button type="submit" class="add-button">Ajouter</button>
    </form>
    <ul>
        {% for todo in todos %}
            <li class="todo-item" style="{{ 'background-color: #dff0d8;' if todo.completed else '' }}">
                <span class="todo-content" {% if todo.completed %} style="text-decoration: line-through;" {% endif %}>
                    {{ todo.content }}
                </span>
            </li>
        {% endfor %}
    </ul>


</body>
</html>